USE [master]
GO
/****** Object:  Database [LaptopMonitoring]    Script Date: 09-06-2026 15:50:19 ******/
CREATE DATABASE [LaptopMonitoring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ANU\MSSQL\DATA\Dev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ANU\MSSQL\DATA\Dev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopMonitoring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopMonitoring]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 09-06-2026 15:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[Condition] [nvarchar](20) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Laptops] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddLaptop]    Script Date: 09-06-2026 15:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddLaptop]
    @Code NVARCHAR(50),
    @Brand NVARCHAR(50),
    @Model NVARCHAR(50),
    @SerialNumber NVARCHAR(100),
    @UserName NVARCHAR(100),
    @Department NVARCHAR(100),
    @IssueDate DATE,
    @Condition NVARCHAR(20),
    @ImagePath NVARCHAR(500)
AS
BEGIN
    INSERT INTO Laptops
    (
        Code, Brand, Model, SerialNumber,
        UserName, Department, IssueDate,
        Condition, ImagePath
    )
    VALUES
    (
        @Code, @Brand, @Model, @SerialNumber,
        @UserName, @Department, @IssueDate,
        @Condition, @ImagePath
    );
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetLaptopByCode]    Script Date: 09-06-2026 15:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetLaptopByCode]
    @Code NVARCHAR(50)
AS
BEGIN
    SELECT 
        Code,
        Brand,
        Model,
        SerialNumber,
        UserName,
        Department,
        IssueDate,
        Condition,
        ImagePath
    FROM Laptops
    WHERE Code = @Code;
END
GO
USE [master]
GO
